* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 12px;
    font-family: "Letter Gothic Std", monospace;
    background: #fff;
}

a:link { text-decoration: none; color: #000; }
a:active { text-decoration: none; }
a:visited { text-decoration: none; color: #666; }
a:hover { text-decoration: underline; }

a img { border: none; }

#menu {
    width: 215px;
    overflow: auto;
    top: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    height: 100%;
    padding: 15px 5px 25px 5px;
}

#menu ul {
    list-style: none;
    margin: 0 0 12px 0;
}

#content {
    height: 100%;
    margin: 0 0 0 215px;
    margin-top: 50px;
    top: 0;
    padding: 15px 5px 25px 25px;
}

.legend {
    width: 200px;
    float: left;
    padding-top: inherit;
    margin-left: 20%;
}
#content p {  }

.kiosk {
    float: left;
    height: 1000px;
    width: 720px;
}

p {
    margin: 0 0 9px 0;
}

h1 { font-size: 16px; color: #000; font-weight: normal; }
h1 a:visited { color: #000; }
h1 a:hover { text-decoration: none; }
h2 { font-size: 24px; }
h3 { font-size: 16px; }
h4 { font-size: 12px; }

.kiosk p {
    width: 400px;
    margin: 0;
    padding: 0 0 12px 0;
}

#num { padding-left: 6px; }
.kiosk img { margin-bottom: 6px; display: block; }
